@CHARSET "UTF-8";

/* Règles générales */

body {
	background-color: #1a1d26;
	color: #fff5ef;
}

header {
	position: fixed;
	width: 100% !important;
	height: 60px !important;
	margin: 0 !important;
	left: 0;
	right: 0;
	top: 0;
}

aside {
	width: 200px;
	left:0;
	top: 60px;
	position: fixed;
	margin: 0;
	height: calc(100vh - 90px);
}

article {
	position: absolute;
	left: 200px;
	right: 0;
	top: 60px;
	margin: 0;
	height: calc(100vh - 90px);
	margin: 0;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	height: 30px;
}

fieldset {
	background-color: #dcdcdc;
	border: 2px solid #046380;
	border-radius: 7px;
	padding: 10px;
	color: #223645;
}

legend {
	background-color: #c4d7ed;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	border: 1px solid #375d81;
	font-size: 13px;
}

/* Formulaires */

button, input[type="submit"], input[type="reset"], select {
	background-color: #fff5ef;
    border: 1px solid #046380;
    border-radius: 5px;
    color: #046380;
    font-size: 0.85em;
	margin-right: 10px;
}

/*select {
	width: 181px;
	margin-left: 5px;
}*/

form label {
	display: inline-block;
	text-align: right;
	margin-right: 0.3em;
}

input, :not(input)[type="image"], textarea {
	border: 1px solid #046380;
	background-color: #fff5ef;
	border-radius: 5px;
	padding: 2px;
}

#fieldset_login {
	max-width: 450px;
}

#fieldset_inscription {
	max-width: 435px;
}

#fieldset_modification {
	max-width: 450px;
}

#fieldset_modification label {
	width: 230px;
}

#fieldset_connexion label {
	width: 170px;
}

#fieldset_inscription label {
	width: 230px;
}

#fieldset_formAjoutVehicule label {
	width: 94px;
}

#fieldset_formAjoutConsommation {
	max-width: 600px;
}

#fieldset_formAjoutConsommation label {
	width: 300px;
}

.fieldsetMax {
	max-width: 95%;
}

form .error {
	color: red;
	text-align: right;
	margin-right: 12px;
}

/* Menu */

.btnMenu {
	margin-left: 15px;
}

.btnSubMenu {
	margin-left: 30px;
	display: none;
}

.btnMenu button {
	margin-bottom: 10px;
}

/* Dialog */

.noClose .ui-dialog-titlebar-close {
	display: none;
}

.ui-widget input, .ui-widget select {
    font-size: 12.13333px !important;
    font-weight:normal !important;
}

.ui-widget button {
	font-size: 0.85em !important;
}

.ui-widget fieldset {
	font-size: 16px;
	font-family: serif;
}

/* datepicker */

.ui-datepicker {
	z-index: 102 !important;
}

/* DataTable */

.tableAction {
	width: 100%;
	text-align: center !important;
}

.lstAction li:first-child {
    border-right: 1px dotted;
}

.lstAction li {
    display: inline-block;
    text-align: center;
    width: calc(50% - 1px);
}

/* Chargement Ajax */
.hidden {
	display: none;
}

#ajaxLoading {
	background-color: rgba(0,0,0,0.65);
	height: 100%;
	position: fixed;
	z-index: 9999;
	text-align: center;
	width: 100%
}

#ajaxLoading img {
	top: calc(100vh / 2);
	position: absolute;
}

#utilisateursConnectes {
	font-size: 0.85em;
	max-width: 90%;
}

.userAdmin {
	color: orange;
}