<!Doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Projet Fileserver - Inscription d'un nouvel utilisateur</title>
	</head>
	<body>
		Bonjour administrateur,<br />
		{{ newUsername }} ({{ newName }} {{ newUserFirstname }}) vient de s'inscrire sur le site.<br />
		Rendez-vous sur le site afin de valider son inscription.
	</body>
</html>