<!Doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Projet Fileserver - Désactivation de votre compte</title>
	</head>
	<body>
		Bonjour {{ username }},<br />
		<br />
		Votre compte a été désactivé suite à un non respect de la charte du site.<br />
		Vous pouvez tenter d'expliquer les raisons de cette expulsion.<br />
		<br />
		L'administrateur du site.
	</body>
</html>