<!Doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Projet Fileserver - Activation de votre compte</title>
	</head>
	<body>
		Bonjour {{ username }},<br />
		<br />
		Votre compte est désormais actif.<br />
		Vous pouvez vous connecter en utilisant votre login et votre mot de passe.<br />
		En vous souhaitant une bonne navigation sur notre site.<br />
		<br />
		L'administrateur du site.
	</body>
</html>